body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: url(images/pawel-czerwinski-3k9PGKWt7ik-unsplash.jpg);
  background-size: cover;
}
.title {
  color: blueviolet;
  font-size: 48px;
  text-align: center;
}
#container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
  width: 480px;
  height: 480px;
  overflow: auto;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  background-color: white;
}
.div {
  display: flex;
  justify-content: center;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#make {
  background-color: blueviolet;
  color: white;
  border-radius: 8px;
  border-color: black;
  border: none;
  font-size: 24px;
}
#black {
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 24px;
}
#color {
  background-color: pink;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 24px;
}
